nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #db5034; /* Add your desired background color */
  color: rgb(8, 1, 1); /* Text color */
}

.left {
  text-align: left;
  font-weight: bold;
  font-size:xx-large;
  font-family: 'Bungee', sans-serif;
}


.right {
  font-family: 'Bungee', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}